<li class="task"><input type="checkbox"  {{#if complete}}class="complete"{{/if}}/>
    <input class="description" type="text"   placeholder="Enter task description..."
            value="{{description}}"/>
    <button class="delete-button">Delete</button>
</li>